<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Blog Application</title>
</head>

<body>

<div class="container">

  <a th:href="@{/}" class="btn btn-primary">Blog</a>
  <hr>
  <a th:href="@{/createPost}" class="btn btn-primary">Write new blog</a>
  <hr>
  <a th:href="@{/newUser}" class="btn btn-primary">Register</a>
  <hr>
  <a th:href="@{/login}" class="btn btn-primary">Login</a>
  <hr>
  <form action="/search"><input type="text" name="searchString"><input type="submit" value="Search"></form>
  <hr>

  <form action="#" th:action="@{/filterPost}" th:object="${filter}">
    <table>
      <tr>
        <th>Author</th>
        <th>Tag</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>
          <select th:field="*{author}" multiple="true">
            <option th:each="author : ${authors}" th:value="${author}" th:text="${author}"></option>
          </select>
        </td>

        <td>
          <select th:field="*{tagNames}" multiple="true">
            <option th:each="tag : ${tags}" th:value="${tag.name}" th:text="${tag.name}"></option>
          </select>
        </td>

        <td>
          <select th:field="*{dateForFilter}" multiple="true">
            <option th:each="post : ${posts}" th:value="${post.publishedAt}"
                    th:text="${post.publishedAt}"></option>
          </select>
        </td>
        <td>
          <button type="submit" value="submit">Filter</button>
        </td>
      </tr>
    </table>
  </form>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDirection=' + ${reverseSortDir}}">
          Title</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=excerpt&sortDirection=' + ${reverseSortDir}}">
          Excerpt</a>
      </th>
      <th> Content</th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=author&sortDirection=' + ${reverseSortDir}}">
          Author</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=publishedAt&sortDirection=' + ${reverseSortDir}}">
          Sort</a>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="post : ${posts}">
      <td th:text="${post.title}"></td>
      <td th:text="${post.excerpt}"></td>
      <td th:text="${post.content}"></td>
      <td th:text="${post.author}"></td>
      <td><a th:href="@{/viewPost(id=${post.id})}">View</a>
    </tr>
    </tbody>
  </table>
</div>
<div class="container" th:if="${totalPages>1}">
  <a>Total Posts: [[${totalElements}]]</a> &emsp;
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${currentPage != i}"
                       th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">
						[[${i}]]</a>
					<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     			</span>
  <a th:if="${currentPage < totalPages}"
     th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
  <span th:unless="${currentPage < totalPages}">Next</span>
  <a th:if="${currentPage < totalPages}"
     th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
  <span th:unless="${currentPage < totalPages}">Last</span>
</div>
</body>
</html>



